@{
    ViewData["Title"] = "Home";
}

<div class="col-xs-4 beta">
    <div class="grid-box text-xs-center">
        <a asp-area="" asp-controller="Home" asp-action="KendoUI" class="nav-link">KendoUI</a>
    </div>
</div>

